@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #011f27;
  --primary-color: #028c8c;
  --green-color: #ccdbdb;
  --other-color: #f2f2f2;
  --white-color: #ffffff;
  --error-color: #d86060;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 22px 200px 23px 200px;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 50px;
  margin-right: 16px;
}

nav span {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center; /* Ez hozzáadva a gomb igazításához */
}

nav li {
  font-size: 16px;
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav button {
  padding: 8px 24px 8px 24px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  border-radius: 8px;
  width: 229px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

nav button:hover {
  background-color: var(--green-color);
}

nav a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}

/* Login page styles */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.login-container h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 8px;
}

.login-container p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;

  color: var(--text-color);
  margin: 16px 0 54px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-form input {
  padding: 14px 16px 14px;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  margin-top: 16px;
  color: var(--text-color);
  border-radius: 8px;
  width: 328px;
}

.login-form input::placeholder {
  color: var(--green-color);
}

.login-form p {
  font-size: 16px;
  text-align: left;
  margin: 16px 0 16px;
  color: var(--text-color);
}

.submit-div button,
.submit-div a.button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  width: 328px;
  text-align: center;
}

.submit-div button {
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.submit-div button:hover {
  background-color: var(--green-color);
}

.submit-div a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}

.submit-div p {
  font-size: 16px;
  margin: 54px 0 16px;
  color: var(--text-color);
}

.login-form a.button:hover {
  border-color: var(--green-color);
  color: var(--green-color);
}

.registration-link {
  display: flex;
  justify-content: center;
}

.registration-link button,
.registration-link a.button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  width: 328px;
  text-align: center;
}

.registration-link button {
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
}

.registration-link button:hover {
  background-color: var(--green-color);
}

.registration-link a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}
