@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #011f27;
  --primary-color: #028c8c;
  --green-color: #ccdbdb;
  --other-color: #f2f2f2;
  --white-color: #ffffff;
  --error-color: #d86060;
}

/* Navbar styles */
nav {
  display: flex;
  background-color: var(--other-color);
  justify-content: space-between;
  align-items: center;
  padding: 22px 200px 23px 200px;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 50px;
  margin-right: 16px;
}

.nav-logo span {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

.nav-menu-icon {
  display: none;
  cursor: pointer;
}

.nav-menu-icon img {
  width: 30px;
  height: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  margin-right: 50px;
}

.nav-links li {
  font-size: 16px;
  font-weight: 400;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  font-weight: 400;
}

.nav-links a.active {
  font-weight: bold;
  text-decoration: underline var(--primary-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

nav .button {
  padding: 8px 24px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  border-radius: 8px;
  width: 229px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .button:hover {
  background-color: var(--green-color);
}

nav .button-logout {
  padding: 8px 24px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  border-radius: 8px;
  width: 229px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .button-logout:hover {
  background-color: var(--green-color);
  color: var(--white-color);
  border-color: var(--green-color);
}

@media (max-width: 768px) {
  nav {
    padding: 22px 20px 0 20px;
  }

  .nav-container {
    flex-direction: column;
    padding: 10px;
  }

  .nav-logo span {
    margin-right: 128px;
  }

  .nav-menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    background-color: var(--other-color);
    flex-direction: column;
    align-items: flex-start;
    display: none;
    padding: 20px 0 20px 0;
  }

  .nav-links.active {
    display: flex;
    background-color: #ccdbdb;
  }

  .nav-links li a {
    color: var(--text-color);
    padding: 30px;
    width: 100%;
  }

  .nav-links .button-logout {
    background-color: var(--white-color);
    color: var(--primary-color);
  }

  .nav-links button {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    padding: 10px 30px 10px 30px;
  }

  .nav-links button,
  .nav-links .button {
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
  }

  .nav-links button:hover {
    background-color: var(--green-color);
  }

  nav.active {
    background-color: var(--green-color);
  }
}
/* Login page styles */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.login-container h1 {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 8px;
}

.login-container p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: var(--text-color);
  margin: 16px 0 54px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-form input {
  padding: 14px 16px 14px;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  margin-top: 16px;
  color: var(--text-color);
  border-radius: 8px;
  width: 328px;
}

.login-form input::placeholder {
  color: var(--green-color);
}

.login-form p {
  font-size: 16px;
  text-align: left;
  margin: 16px 0 16px;
  color: var(--text-color);
}

.submit-div button,
.submit-div a.button {
  padding: 8px 24px 8px 24px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  width: 328px;
  text-align: center;
}

.submit-div button {
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.submit-div button:hover {
  background-color: var(--green-color);
}

.submit-div a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}

.submit-div p {
  font-size: 16px;
  margin: 54px 0 16px;
  color: var(--text-color);
}

.login-form a.button:hover {
  border-color: var(--green-color);
  color: var(--green-color);
}

.registration-link {
  display: flex;
  justify-content: center;
}

.registration-link button,
.registration-link a.button {
  padding: 8px 24px 8px 24px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  width: 328px;
  text-align: center;
}

.registration-link button {
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
}

.registration-link button:hover {
  background-color: var(--green-color);
}

.registration-link a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}

/* Register page styles */

.register-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 54px;
}

.register-div button,
.register-div a.button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  width: 328px;
  text-align: center;
}

.register-div button {
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.register-div button:hover {
  background-color: var(--green-color);
}

.register-div a.button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}
